@import url('./styles/bootstrap.min.css');
@import url('./styles/bootstrap-reboot.min.css');
@import url('./styles/bootstrap-grid.min.css');
@import url('//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css');
.leaflet-container{
  min-height: 500px;
}
.App {
  background-color: #f4f4f4;
  display: block;
  height: 100vh;
  overflow: hidden;
  padding: 20px 20px;
  text-align: center;
  width: 100vw;
}
h1{
  padding: 20px 0 0;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.2rem;
}

.btnTwitter{
  padding: 30px 0;
}

.btnTwitter button{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  border: 0px;
  border-radius: 5px;
  background-color: rgb(46, 59, 85);
  color:white;
  padding: 5px 10px;
}